pip install colorama
pip install pyautogui
pip install discord
pip install requests
pip install json
pip install base64 
pip install emoji
pip install websocket
pip install http.client
pip install pypresence